{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="col-lg-6 mx-auto">
        <h2 class="display-4">New Password</h2>
        {% if validlink %}
            <form method="post">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        {% else %}
            <p style="color: red;">Invalid token. <a href="{% url 'password_reset' %}">Request a new password reset token</a></p>
        {% endif %}
    </div>
</div>
{% endblock %}
