{% extends 'base.html' %}
{% load form_tags %}

{% block content %}
<div class="container mt-5">
    <h2>Add Section</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.name.label_tag }}<br>
            {{ form.name|add_class:"form-control" }}<br>
        </div>
        <button type="submit" class="btn btn-success">Add Section</button>
        <a href="{% url 'manage_products' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
